/*

WP-Bootstrap - Main Styles

*/

@import "wp.less";
@import "layout.less";
@import "navbar.less";
@import "posts.less";
@import "pages.less";
@import "comments.less";
@import "image-attachments.less";
@import "widgets.less";
@import "gallery.less";

/*  Fonts  */

@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic);

@font-face {
    font-family: 'dense';
    src: url('../../../myfonts/dense-regular-webfont.eot');
    src: url('../../../myfonts/dense-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../myfonts/dense-regular-webfont.woff2') format('woff2'),
         url('../../../myfonts/dense-regular-webfont.woff') format('woff'),
         url('../../../myfonts/dense-regular-webfont.ttf') format('truetype'),
         url('../../../myfonts/dense-regular-webfont.svg#denseregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*  Variables  */

@babyBlue: #D9E9F8;
@red: #DC3A26;
@gray: #F6F6F6;
@blue: #419DCE;

body {
	font-family: Asap, sans-serif;
}

h1 {
	text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'dense', Impact, sans-serif;
	color: @blue;
}

hr {
	border-color: @blue;
	border-top: 2px solid @blue;
}

img {
	width:100%;
}

button {
	padding: 5px 50px;
	margin: 30px auto;
	border: 2px solid @red;
	font-family: Dense;
	font-size: 20px;
	text-transform: uppercase;
	color: @red;
	background: none;
	transition: all 0.5s easeinout;
	-webkit-transition: all 0.5s easeinout;
}

button:hover {
	background: fade(@red, 40%);
	transition: all 0.5s easeinout;
	-webkit-transition: all 0.5s easeinout;
}

.span {
	color: @red;
}

.nopadding {
	padding: 0;
}

.nomargins {
	margin: 0;
}

.2col {
	-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

#logo {
	display: block;
	width: 400px;
	height: 110px;
	background: url(../../../images/logo.png) no-repeat;
	background-size: contain;
	top: 40px;
	left: 160px;
	margin-bottom: -100px;
	position: fixed;
	z-index: 9999;
}

a#bigButton {
	padding: 28px 8px;
	background: @red;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.3em;
	border: 1px dashed #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 4px @red, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
	text-shadow: -1px -1px #aa3030;
	font-weight: normal;
	width: 100px;
	height: 100px;
	right: 180px;
	top: 30px;
	position: fixed;
	white-space: nowrap;
	text-transform: uppercase;
	text-align: center;
	font-family: 'dense', sans-serif;
	z-index: 999;
}

a#bigButton:hover {
	color: white;
	text-decoration: none;
	background: darken(@red, 5%);
	box-shadow: 0 0 0 4px darken(@red, 5%), 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
}

.jumbotron {
	background: fade(@babyBlue, 95%);
	color: @blue;
	border-radius: 0px;
	margin-bottom: 100px;
	padding: 10px 60px;
}

.jumbotron p {
	font-size: 15px;
}

#content {
	background: fade(@gray, 95%);
}

.hashtag {
	background: rgba(0,0,0,0.66);
	position: absolute;
	z-index: 99999;
	right: 0px;
	padding: 0px 20px 10px 20px;
	text-transform: uppercase;
}

.twine-embed-iframe, #twine-embed-iframe {
	border: 1px dotted @blue;
	border-radius: 10px;
	padding: 20px;
	box-shadow: inset 0px 0px 15px rgba(0,0,0,0.2);
	background: whitesmoke !important;
}

.twine-item-border {
	box-shadow: 3px 3px 0px @babyBlue !important;
}

.twine-item-border:hover {
	box-shadow: 3px 3px 0px @babyBlue !important;
}

#facts {
	background: fade(@blue, 95%);
	color: white;
	margin-top: 100px;
}

#facts h1, #facts h2 {
	color: white;
}

div.chpcs_foo_content {
	width: 800px !important;
	padding: auto 200px auto 200px;
}

.chpcs_image_carousel .chpcs_prev, .chpcs_image_carousel .chpcs_next {
	color: white !important;
}

#shareYours {
	background: fade(@gray, 95%);
}

#lower-homepage {
	margin-top: 100px;
	background: url(../../../images/glacier.jpg) center center no-repeat;
	background-size: cover;
	overflow: hidden;
}

#lower-box {
	background: fade(@gray, 80%);
	padding: 20px;
	margin: 20px;
}

#lower-box p {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

#staticrandomposts-2 {
	background: @blue;
	box-shadow: 3px 3px 0px darken(@blue, 10%);
	color: white;
	font-family: 'dense', sans-serif;
	text-transform: uppercase;
}

#staticrandomposts-2 p {
	font-size: 20px;
}

#staticrandomposts-2 h1 {
	display: none;
}

#staticrandomposts-2 ul {
	padding: 20px;
}

#staticrandomposts-2 .static-refresh {
	padding: 38px 8px;
	background: @red;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.3em;
	border: 1px dashed #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 4px @red, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
	text-shadow: -1px -1px #aa3030;
	font-weight: normal;
	width: 100px;
	height: 100px;
	right: -120px;
	top: 0px;
	position: absolute;
	white-space: nowrap;
}

#staticrandomposts-2 .static-refresh:hover {
	box-shadow: 0 0 0 4px darken(@red, 5%), 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
	text-decoration: none;
	background: darken(@red, 5%);
}

.widget {
	padding-bottom: 20px;
}

#footer {
	background: #222224;
}

#footer a {
	font-family: 'dense', sans-serif;
	color: gray !important;
	font-size: 24px;
	transition: all 0.5s easeinout;
	-webkit-transition: all 0.5s easeinout;
	text-transform: uppercase;
}

#footer a:hover {
	text-decoration: none;
	color: @blue !important;
	transition: all 0.5s easeinout;
	-webkit-transition: all 0.5s easeinout;
}

.arctic-logo {
	background: url(../../../images/arctic-logo.png) no-repeat;
	background-size: 200px auto;
	display: block;
	width: 200px;
	height: 30px;
	display: inline-block;
	margin: 30px 0px 0px 0px;
}

.footer-links {
	float: none;
	display: inline-block;
	margin: 0 auto;
}

#menu-footer {
	padding: 0px;
}

#drips {
	margin-bottom: 100px;
}

#twine-parent .branding-text, #twine-toolbar {
	display: none !important;
}

/*  MEDIA QUERIES  */

/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 767px) {
	body {
		padding-top: 140px;
	}
	button {
		padding: 5px 10px;
	}
	#logo {
		top: 20px;
		left: 50%;
		margin: 0px 0px 0px -160px;
	}
	a#bigButton {
		top: 110px;
		right: auto;
		left: 50%;
		margin-left:-15%;
		position: absolute
	}
	.jumbotron {
		padding: 60px 20px 0px 20px;
	}

	div.content-container h1 {
		font-size: 2em;
	}

	div.chpcs_image_carousel {
		padding: 0px 0px 15px 0px !important;
	}

	div.chpcs_foo_content {
		width: 300px !important;
		padding: 0px 20px;
	}

	#lower-homepage {
		padding: 0px;
	}

	#lower-box {
		text-align: justify;
		padding: 5px 0px 5px 0px;
	}

	#shareYours {
		padding: 0px;
	}

	#shareYours ol {
		padding: 0px 20px;
	}

	#staticrandomposts-2 {
		margin-bottom:40px;
		margin-top:160px;
	}

	#staticrandomposts-2 .static-refresh {
		right: auto;
		left: 50%;
		margin-left: -50px;
		top: -130px;
	}

	#lower-box p {
		-webkit-column-count: 1;
	    -moz-column-count: 1;
	    column-count: 1;
	}

	figure.hammy-responsive {

	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
	#logo {
		top: 15px;
		left: 15px;
		margin: 0px;
	}
	a#bigButton {
		top: 15px;
		right: 15px;
		position: absolute;
	}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
	#logo {
		top:40px;
		left:40px;
	}
	a#bigButton {
		right: 30px;
		top: 30px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	figure.hammy-responsive {

	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
	figure.hammy-responsive {
		
	}
}